table {
  margin:0px auto;
  height:100px;
  width:800px;
  cellpadding:100px;
  cellspacing:100px;

}
/*td { text-align:left }*/

h1 { text-align: center }

/*div { margin:0px auto;}
  p { margin-left:100px }*/

.main{
  margin-left:270px;
}
/*
td {
  width:400px;
}*/
